<%# Requires: password, errors %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Change Password</h1>
      <p class="text-center">Enter New Password</p>
      <form action="" method="POST">
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter New Password"
            value="<%= password %>"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            class="form-control"
            placeholder="Confirm New Password"
            value="<%= confirm_password %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send</button>
        <br>
        <% include ../partials/errors %>
      </form>
      <p class="text-center lead mt-4">
        <a href="/security/login">Login</a>
      </p>
    </div>
  </div>
</div>